# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

_ReSharper*
sqlbin
msbuild
build
tmp
*.bak
*.user
*.dotCover
*.suo
*.check-import
*.import-check
# mstest test results
TestResults
/branch
