<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="eco" connectionString="Data Source=(local)\SQL2;Initial Catalog=eco;Integrated Security=True;Min Pool Size=5;Application Name=z_audit"/>
    <add name="mas" connectionString="Data Source=(local)\SQL2;Initial Catalog=mas;Integrated Security=True;Min Pool Size=5;Application Name=z_audit"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
