<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="Brail" type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Comdiv.Zeta.Data.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Comdiv.Zeta.Data.Settings>
			<setting name="default_number_format" serializeAs="String">
				<value>#,0.##</value>
			</setting>
			<setting name="useVersions" serializeAs="String">
				<value>True</value>
			</setting>
		</Comdiv.Zeta.Data.Settings>
	</applicationSettings>
	<log4net configSource="usr\log4net.config"/>
	<castle>
		<include uri="file://sys/ioc/ioc.config"/>
		<include uri="file://mod/ioc/ioc.config"/>
	</castle>
	<monorail useWindsorIntegration="true">
		<viewEngine  customEngine="Castle.MonoRail.Views.Brail.BooViewEngine, Castle.MonoRail.Views.Brail" />
		<services>
			<service id="FilterDescriptorProvider" type="Comdiv.MVC.Filters.FilterProvider, Comdiv.MVC"/>
			<service id="RescueDescriptorProvider" type="Comdiv.MVC.Filters.RescueProvider, Comdiv.MVC"/>
		</services>
	</monorail>
	<Brail debug="true" baseType="Comdiv.MVC.MyBrailBase" saveToDisk="false" __saveDirectory="tmp/Brail_Generated_Code" __savePreprocessDirectory="tmp/Preprocessed" batch="false" commonScriptsDirectory="CommonScripts" preprocessorFactoryType="Comdiv.MVC.PreprocessorFactory, Comdiv.MVC">
		<reference assembly="Comdiv.Core"/>
		<reference assembly="Comdiv.Dom"/>
		<reference assembly="Comdiv.MVC"/>
		<reference assembly="Comdiv.Reporting"/>
		<reference assembly="Comdiv.Zeta.Model"/>
		<reference assembly="Comdiv.Zeta.Data"/>
	</Brail>
	<appSettings configSource="sys\appsettings.config"/>
	<connectionStrings configSource="usr\connections.config"/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<trace traceMode="SortByTime" enabled="false" pageOutput="true"/>
		<authentication mode="Windows"/>
		<!--<authentication mode="Forms">
			<forms loginUrl="login.aspx" name="AuthCookie" timeout="60" path="/"
protection="All" />

		</authentication>-->
		<!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
		<trust level="Full"/>
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
			<!--Deny direct access-->
			<add verb="*" path="*.brail" type="System.Web.HttpForbiddenHandler"/>
		</httpHandlers>
		<httpModules>
			<add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework"/>
		</httpModules>
		<globalization requestEncoding="Utf-8" responseEncoding="Utf-8"/>
	</system.web>
	<!-- 
				The system.webServer section is required for running ASP.NET AJAX under Internet
				Information Services 7.0.  It is not necessary for previous version of IIS.
		-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate"/>
				<bindingRedirect oldVersion="2.1.0.3001" newVersion="2.1.0.4000"/>
				<codeBase version="2.0.0.0" href="http://www.litwareinc.com/myAssembly.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	   <system.webServer>
<security>
<requestFiltering>
<requestLimits maxQueryString="8000" />
</requestFiltering>
</security>
</system.webServer> 
</configuration>
